{{ define "main" }}
<div class="grid-x grid-padding-x">
    <div class="small-12 cell">
        <h2>{{ .Title }}</h2>
    </div>
    <div class="small-12 medium-6 cell">
        {{- .Content -}}
    </div>
    <div class="small-12 medium-6 cell sections">
        <ul class="sections-list">
            {{ range sort .Site.Sections "Dir" }}
            <li>
                <a href="{{ .RelPermalink }}">{{ .Dir }}</a> &mdash; {{ .Summary }}
                {{ if .Params.showPages }}
                    {{ range .Pages }}
                    <ul>
                        <li>
                            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                        </li>
                    </ul>
                    {{ end }}
                {{ end }}
                {{ if .Params.showLatest }}
                    {{ range first 1 .Pages }}
                    <ul>
                        <li>
                            Latest Post: <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                        </li>
                    </ul>
                    {{ end }}
                {{ end }}
            </li>
            {{ end }}
        </ul>
    </div>
</div>
{{ end }}